IDEAL_AGENT_MYSQL_DATABASE=ideal_agent
IDEAL_AGENT_USERNAME=idealagent
IDEAL_AGENT_PASSWORD=123456
IDEAL_AGENT_ROOT_PASSWORD=123456
TZ=Asia/Shanghai

OPENAI_BASE_URL=
OPENAI_API_KEY=
EMBEDDING_MODEL=text-embedding-v4
EMBEDDING_DIMENSIONS=1024
